## Final Project Submission

Please fill out:
* Student name: Ian Butler
* Student pace: full time
* Scheduled project review date/time: 08/05/2022 02:00 PM
* Instructor name: David Elliott
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.impute import MissingIndicator
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
!ls

CONTRIBUTING.md
LICENSE.md
README.md
data
halfway-there.gif
student.ipynb

In [4]:
cd data

C:\Users\ianbu\Documents\Flatiron\dsc-phase-2-project-v2-3\data

In [5]:
!ls

column_names.md
kc_house_data.csv

In [6]:
cd ..

C:\Users\ianbu\Documents\Flatiron\dsc-phase-2-project-v2-3

In [7]:
file_path = './data/kc_house_data.csv'
original_df = pd.read_csv(file_path)
original_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [8]:
df = original_df.copy()
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [9]:
y = df["price"]
X = df.drop("price", axis=1)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
print(f"X_train is a DataFrame with {X_train.shape[0]} rows and {X_train.shape[1]} columns")
print(f"y_train is a Series with {y_train.shape[0]} values")

assert X_train.shape[0] == y_train.shape[0]

X_train is a DataFrame with 16197 rows and 20 columns
y_train is a Series with 16197 values

In [12]:
model = LinearRegression()
# model.fit(X_train, y_train)

In [13]:
relevant_columns = [
    'id',
    'bedrooms',
    'bathrooms',
    'sqft_living',
    'sqft_lot',
    'floors',
    'waterfront',
    'condition',
    'grade',
    'yr_built',
    
]

X_train = X_train[relevant_columns]

X_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
6405,3905080280,3,2.50,1880,4499,2.0,NO,Average,8 Good,1993
937,5466420030,3,2.50,2020,6564,1.0,NO,Average,7 Average,1994
19076,2623069010,5,4.00,4720,493534,2.0,NO,Very Good,9 Better,1975
15201,4443800545,2,2.00,1430,3880,1.0,NO,Good,7 Average,1949
13083,9485930120,3,2.25,2270,32112,1.0,NO,Good,8 Good,1980

In [14]:
assert X_train.shape[0] == 16197

assert X_train.shape[1] == len(relevant_columns)

In [15]:
X_train.isna().sum()

id                0
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront     1756
condition         0
grade             0
yr_built          0
dtype: int64

In [16]:
X_train["waterfront"].value_counts()

NO     14330
YES      111
Name: waterfront, dtype: int64

In [17]:
X_train["waterfront"].isna().value_counts()

False    14441
True      1756
Name: waterfront, dtype: int64

In [18]:
X_train[X_train["waterfront"].isna()].head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
10881,9407100310,3,2.50,1260,11877,1.0,NaN,Average,7 Average,1975
14092,3211600650,3,1.00,1000,8018,1.0,NaN,Average,7 Average,1969
19429,582000644,4,2.00,1990,6000,1.0,NaN,Average,9 Better,1956
2264,522049104,5,1.75,2340,9148,2.0,NaN,Average,7 Average,1957
9558,1310700210,3,1.75,1970,10270,1.0,NaN,Good,8 Good,1966

In [19]:
X_train['waterfront'] = X_train['waterfront'].fillna('NO')
X_train[X_train["waterfront"].isna()].head()

Empty DataFrame
Columns: [id, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, condition, grade, yr_built]
Index: []

In [20]:
X_train["waterfront"].isna().value_counts()

False    16197
Name: waterfront, dtype: int64

In [21]:
X_train["waterfront"].value_counts()

NO     16086
YES      111
Name: waterfront, dtype: int64

In [22]:
X_train.isna().sum()

id             0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
waterfront     0
condition      0
grade          0
yr_built       0
dtype: int64

In [23]:
assert X_train.shape[0] == 16197

assert X_train.shape[1] == len(relevant_columns)

In [24]:
# model.fit(X_train, y_train)

In [25]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           16197 non-null  int64
 1   bedrooms     16197 non-null  int64
 2   bathrooms    16197 non-null  float64
 3   sqft_living  16197 non-null  int64
 4   sqft_lot     16197 non-null  int64
 5   floors       16197 non-null  float64
 6   waterfront   16197 non-null  object
 7   condition    16197 non-null  object
 8   grade        16197 non-null  object
 9   yr_built     16197 non-null  int64
dtypes: float64(2), int64(5), object(3)
memory usage: 1.4+ MB

In [26]:
print(X_train['waterfront'].value_counts())
print()
print(X_train['condition'].value_counts())
print()
print(X_train['grade'].value_counts())

NO     16086
YES      111
Name: waterfront, dtype: int64

Average      10525
Good          4238
Very Good     1287
Fair           129
Poor            18
Name: condition, dtype: int64

7 Average        6718
8 Good           4608
9 Better         1936
6 Low Average    1506
10 Very Good      851
11 Excellent      295
5 Fair            188
12 Luxury          69
4 Low              17
13 Mansion          8
3 Poor              1
Name: grade, dtype: int64

In [27]:
waterfront_train = X_train[['waterfront']]

encoder_waterfront = OrdinalEncoder()

encoder_waterfront.fit(waterfront_train)

encoder_waterfront.categories_[0]

array(['NO', 'YES'], dtype=object)

In [28]:
waterfront_encoded_train = encoder_waterfront.transform(waterfront_train)

waterfront_encoded_train = waterfront_encoded_train.flatten()

waterfront_encoded_train

array([0., 0., 0., ..., 0., 0., 0.])

In [29]:
X_train['waterfront'] = waterfront_encoded_train

X_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
6405,3905080280,3,2.50,1880,4499,2.0,0.0,Average,8 Good,1993
937,5466420030,3,2.50,2020,6564,1.0,0.0,Average,7 Average,1994
19076,2623069010,5,4.00,4720,493534,2.0,0.0,Very Good,9 Better,1975
15201,4443800545,2,2.00,1430,3880,1.0,0.0,Good,7 Average,1949
13083,9485930120,3,2.25,2270,32112,1.0,0.0,Good,8 Good,1980

In [30]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           16197 non-null  int64
 1   bedrooms     16197 non-null  int64
 2   bathrooms    16197 non-null  float64
 3   sqft_living  16197 non-null  int64
 4   sqft_lot     16197 non-null  int64
 5   floors       16197 non-null  float64
 6   waterfront   16197 non-null  float64
 7   condition    16197 non-null  object
 8   grade        16197 non-null  object
 9   yr_built     16197 non-null  int64
dtypes: float64(3), int64(5), object(2)
memory usage: 1.4+ MB

In [31]:
condition_train = X_train[['condition']]

condition_ohe = OneHotEncoder(categories="auto", sparse=False, handle_unknown="ignore")

condition_ohe.fit(condition_train)

condition_ohe.categories_

[array(['Average', 'Fair', 'Good', 'Poor', 'Very Good'], dtype=object)]

In [32]:
condition_encoded_train = condition_ohe.transform(condition_train)

condition_encoded_train

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [33]:
condition_encoded_train = pd.DataFrame(
    condition_encoded_train,
    columns=condition_ohe.categories_[0],
    index=X_train.index
)

condition_encoded_train.head()

       Average  Fair  Good  Poor  Very Good
6405       1.0   0.0   0.0   0.0        0.0
937        1.0   0.0   0.0   0.0        0.0
19076      0.0   0.0   0.0   0.0        1.0
15201      0.0   0.0   1.0   0.0        0.0
13083      0.0   0.0   1.0   0.0        0.0

In [34]:
X_train.drop('condition', axis=1, inplace=True)

X_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,yr_built
6405,3905080280,3,2.50,1880,4499,2.0,0.0,8 Good,1993
937,5466420030,3,2.50,2020,6564,1.0,0.0,7 Average,1994
19076,2623069010,5,4.00,4720,493534,2.0,0.0,9 Better,1975
15201,4443800545,2,2.00,1430,3880,1.0,0.0,7 Average,1949
13083,9485930120,3,2.25,2270,32112,1.0,0.0,8 Good,1980

In [35]:
X_train = pd.concat([X_train, condition_encoded_train], axis=1)

X_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,yr_built,Average,Fair,Good,Poor,Very Good
6405,3905080280,3,2.50,1880,4499,2.0,0.0,8 Good,1993,1.0,0.0,0.0,0.0,0.0
937,5466420030,3,2.50,2020,6564,1.0,0.0,7 Average,1994,1.0,0.0,0.0,0.0,0.0
19076,2623069010,5,4.00,4720,493534,2.0,0.0,9 Better,1975,0.0,0.0,0.0,0.0,1.0
15201,4443800545,2,2.00,1430,3880,1.0,0.0,7 Average,1949,0.0,0.0,1.0,0.0,0.0
13083,9485930120,3,2.25,2270,32112,1.0,0.0,8 Good,1980,0.0,0.0,1.0,0.0,0.0

In [36]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           16197 non-null  int64
 1   bedrooms     16197 non-null  int64
 2   bathrooms    16197 non-null  float64
 3   sqft_living  16197 non-null  int64
 4   sqft_lot     16197 non-null  int64
 5   floors       16197 non-null  float64
 6   waterfront   16197 non-null  float64
 7   grade        16197 non-null  object
 8   yr_built     16197 non-null  int64
 9   Average      16197 non-null  float64
 10  Fair         16197 non-null  float64
 11  Good         16197 non-null  float64
 12  Poor         16197 non-null  float64
 13  Very Good    16197 non-null  float64
dtypes: float64(8), int64(5), object(1)
memory usage: 1.9+ MB

In [37]:
# model.fit(X_train, y_train)

In [38]:
grade_train = X_train[['grade']]

grade_ohe = OneHotEncoder(categories="auto", sparse=False, handle_unknown="ignore")

grade_ohe.fit(grade_train)

grade_ohe.categories_

[array(['10 Very Good', '11 Excellent', '12 Luxury', '13 Mansion',
        '3 Poor', '4 Low', '5 Fair', '6 Low Average', '7 Average',
        '8 Good', '9 Better'], dtype=object)]

In [39]:
grade_encoded_train = grade_ohe.transform(grade_train)

grade_encoded_train

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [40]:
grade_encoded_train = pd.DataFrame(
    grade_encoded_train,
    columns=grade_ohe.categories_[0],
    index=X_train.index
)

grade_encoded_train.head()

,10 Very Good,11 Excellent,12 Luxury,13 Mansion,3 Poor,4 Low,5 Fair,6 Low Average,7 Average,8 Good,9 Better
6405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19076,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13083,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [41]:
X_train.drop('grade', axis=1, inplace=True)

X_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,yr_built,Average,Fair,Good,Poor,Very Good
6405,3905080280,3,2.50,1880,4499,2.0,0.0,1993,1.0,0.0,0.0,0.0,0.0
937,5466420030,3,2.50,2020,6564,1.0,0.0,1994,1.0,0.0,0.0,0.0,0.0
19076,2623069010,5,4.00,4720,493534,2.0,0.0,1975,0.0,0.0,0.0,0.0,1.0
15201,4443800545,2,2.00,1430,3880,1.0,0.0,1949,0.0,0.0,1.0,0.0,0.0
13083,9485930120,3,2.25,2270,32112,1.0,0.0,1980,0.0,0.0,1.0,0.0,0.0

In [42]:
X_train = pd.concat([X_train, grade_encoded_train], axis=1)

X_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,yr_built,Average,Fair,...,11 Excellent,12 Luxury,13 Mansion,3 Poor,4 Low,5 Fair,6 Low Average,7 Average,8 Good,9 Better
6405,3905080280,3,2.50,1880,4499,2.0,0.0,1993,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
937,5466420030,3,2.50,2020,6564,1.0,0.0,1994,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19076,2623069010,5,4.00,4720,493534,2.0,0.0,1975,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15201,4443800545,2,2.00,1430,3880,1.0,0.0,1949,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13083,9485930120,3,2.25,2270,32112,1.0,0.0,1980,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [43]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             16197 non-null  int64
 1   bedrooms       16197 non-null  int64
 2   bathrooms      16197 non-null  float64
 3   sqft_living    16197 non-null  int64
 4   sqft_lot       16197 non-null  int64
 5   floors         16197 non-null  float64
 6   waterfront     16197 non-null  float64
 7   yr_built       16197 non-null  int64
 8   Average        16197 non-null  float64
 9   Fair           16197 non-null  float64
 10  Good           16197 non-null  float64
 11  Poor           16197 non-null  float64
 12  Very Good      16197 non-null  float64
 13  10 Very Good   16197 non-null  float64
 14  11 Excellent   16197 non-null  float64
 15  12 Luxury      16197 non-null  float64
 16  13 Mansion     16197 non-null  float64
 17  3 Poor         16197 non-null  float64
 18  4 Low          16197 non-null  float64
 19  5 Fair         16197 non-null  float64
 20  6 Low Average  16197 non-null  float64
 21  7 Average      16197 non-null  float64
 22  8 Good         16197 non-null  float64
 23  9 Better       16197 non-null  float64
dtypes: float64(19), int64(5)
memory usage: 3.1 MB

In [44]:
model.fit(X_train, y_train)

LinearRegression()

In [45]:
cross_val_score(model, X_train, y_train, cv=3)

array([0.6803795 , 0.67940675, 0.65468144])